@import './reset.css';
@import "tailwindcss";
@import './base.css';

@theme {
  --color-windows-theme: #008080;
}

#app {
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-windows-theme);
}

#app>div {
  /* max-width: 1280px; */
  margin: 0 auto;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
  }
}

@layer base {

  *,
  ::before,
  ::after,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

}